@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --light-color: #a6b9d3;
  --text-light-color: #f3f7fc;
  --text-dark-color: #1d2534;
  --border-color: #f35c1c;
  --body-color: #1d2534;
  --box-shadow: #101010;
  --table-heading: #24262b;
  --table-content: #4d4d4d;
}
.hobbies {
  font-size: medium;
  align-items: center;
}
