:root {
    --primary-color: #202d3a;
    --seconday-color: #28587c;
    --light-color: #416988;
    --text-light-color: #f3f7fc;
    --text-dark-color: #181616;
    --card-color: #cadfed;
    --border-color: #f35c1c;
    --body-color:#1d2534;
  }
  
